@{
    ViewData["Title"] = "Second Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">Bem-vindo à página Second</h1>
            <p>Esta é a segunda página que você o Rodrigo no projeto MVC.</p>
            <p>Esta página é apenas um exemplo para ilustrar como as páginas são criadas e renderizadas no ASP.NET Core MVC.</p>
        </div>
    </div>
</div>
